$grey100: #F7F7F7;
$grey200: #EEEEEE;
$grey500: #929AAB;
$grey900: #393E46;
$purple800: #3D293F;

$black: #000000;
$white: #FFFFFF;
$green: #A9E5BB;
$yellow: #FCF6B1;

$error: #E3170A;
$success: rgba(24, 173, 67, 0.64);
$warning: #ffea00;

