$maxHeight: 214px;

.imageData {
  margin: 15px;
  position: relative;

  .image {
    overflow: hidden;
    border-radius: 10px;
    height: $maxHeight;

    img {
      height: $maxHeight;
      width: auto;
    }
  }

  .imageDataContent {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: $maxHeight;

    .uploading {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: rgba(247, 247, 247, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;

      .uploadingBar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        background: rgba(238, 238, 238, 0.6);
        transition: width 0.4s;
      }

      .uploadingContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;

        .uploadingTitle {
          margin-bottom: 5px;
          font-size: 21.6px;
          font-weight: 600;
          line-height: 110%;
          letter-spacing: -0.648px;
        }

        .uploadingProcess {
          color: $grey500;
          font-size: 12.5px;
          font-weight: 400;
          line-height: 125%;
          letter-spacing: -0.375px;
        }
      }
    }

    .actions {
      padding: 20px;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(57, 62, 70, 0.5);
      transition: opacity 0.4s;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

      &:hover {
        opacity: 1;
      }

      .actionsContent {

        .action {
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: opacity 0.4s;

          &:hover {
            opacity: 0.6;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        .actionImage {
          width: 24px;
          margin-right: 6px;
        }

        .actionTitle {
          color: $yellow;
          font-size: 18px;
          font-weight: 400;
          line-height: 125%;
          letter-spacing: -0.54px;
        }
      }
    }
  }

  .label {
    position: absolute;
    top: -10px;
    right: 10px;
    max-width: 94px;
    border-radius: 5px;
    background: $yellow;
    padding: 5px;

    text-align: right;
    font-size: 12.5px;
    line-height: 125%;
    letter-spacing: -0.375px;
  }
}
