.headerContainer {
  .header {
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;

    .headerContent {
      flex-grow: 1;

      .headerLogo {
        margin-bottom: 13px;
        max-width: 182px;
      }
      .headerInfo {
        color: $grey500;
        font-size: 12.5px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: -0.375px;
      }
    }

    .headerBtn {}
  }
}

.delimiter {
  height: 1px;
  background-color: $grey200;
}
